{% extends "AppCoder/template/padre.html" %}


{% block page %}

<h3>Listado de POSTS</h3>


{% endblock page %}


{% block contenidoQueCambia %} 

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Curso Borrar</title>
    </head>

<body>


        <form method = "post">{% csrf_token %}

            Estas seguro que deseas borrar el post "{{ object }}" ?
            <input type="submit" value = "Eliminar" />
            <a href="{% url 'post_lista' %}" > Cancelar</a>

        </form>



</body>
</html>



{% endblock contenidoQueCambia %}