{% extends "AppCoder/template/padre.html" %}

{% load static %}

{% block page %}

<h1>Nosotros</h1>

{% endblock %}

{% block contenidoQueCambia %} 

<div class="about-section">
    <h1>Nosotros</h1>
    <p></p>
    <p> 
      "Escuela de habilidades digitales, con clases online en vivo. Coderhouse tiene cursos y carreras online de diseño ux, community manager, publicidad en redes, programación, ecommerce, data analytics y más. Las clases son virtuales, pero igualmente quedan grabadas en nuestra plataforma virtual, donde además nuestros alumnos acceden a contenido adicional gratuito. Las clases están dictadas por profesores expertos que trabajan en las mejores empresas de Latinoamérica. Además, los alumnos son acompañados por tutores, quienes resuelven sus dudas y los ayudan a completar el proyecto final de la mejor manera."
    </p>
  </div>
  
  
    <div class="column">
      <div class="card">
        <link href="" alt="Mike" style="width:100%">
        <div class="container">
          <h2>
            Gabriel Mocchetti y Diego Castañeda
          </h2>
          <p class="title">Python Django Developer</p>
          <p>Gabriel Mocchetti, 28 años y vive en Buenos Aires, Argentina , Estudio en Universidad Tecnologica Nacional , Trabajo actualmente como SRE , desarrolle esta web junto a Diego para el Proyecto final de CoderHouse</p>
          <p>Diego Castañeda, 23 años y vive en Cerro Navia, Chile , Soy estudiando de Coderhoyse , Actualmente programo como hobby , desarrolle esta web junto a Gabriel para el Proyecto final de CoderHouse</p>
          <p>soporte@proyecto.coder.com</p>
          <p>https://github.com/gavoanthe</p>
          <p>https://github.com/diegocast1</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    

{% endblock %}
